//FileName: footer.pug
//Author's Name: Daehan Hong
//Website Name: Portfolio
//File description: to set footer
html
  head
  body
    footer
      p &copy;2019 Daehan Hong
      #social
        a(href='https://www.github.com/DaehanHong', target='_blank')
          i.fa.fa-github-square.fa-3x(aria-hidden='true')
        
        a(href='https://www.linkedin.com/in/daehan-hong-303875164', target='_blank')
          i.fa.fa-linkedin-square.fa-3x(aria-hidden='true')
        
        a(href='https://twitter.com/DaehanHong', target='_blank')
          i.fa.fa-twitter-square.fa-3x(aria-hidden='true')
