//FileName: about.pug
//Author's Name: Daehan Hong
//Website Name: Portfolio
//File description: to put information about me in about me page. it is similar to HTML files

include partials/header.pug
#container
  h1
    | #{title}
  img.aboutMe(src='/images/aboutMe.jpg', width='256px', height='256px', alt='Portrait of Daehan Hong')
  section#textbox
    h2 Introduction
    p
      | Being honiest, I like to do challenge bacause if I finish challange part, I can feel so excited and blissed. 
      | I think that is my personality. When I was young, I was Taekwondo player until 17 years old. After I stopped being Taekwondo player, I applied for U.N as a soldier.
      | So, I have worked as a U.N soldier for 4 years in Lebanon where is in Middle East. while I was solider, I have gone through an ordeal such as gunfight, eliminating bomb, and guarding for high-ranking officials.
      | Because of that experiences, I start to love chanllenge.
    h2 Autobiography
    p
      | As I mentioned above, I am from South Korea, It means I was born in Korea in 1992. My hometown is really country side in Korea. However, when I was 15, I moved to Seoul which is capital of Korea.
      | Seoul was totally different compared with my hometown. Seoul is one of the best technological cities in the world.
      | Anyway, at that time, my first dream was being singer. So, I auditioned for a lot of entertainment company. Finally, I passed a audition and I thought I can be a singer. So, I told my parents this, but my father desperately oppose that I will be a singer.
      | Therefore, I fought with him for a long time, but I accepted his opinion because when I was young, I did not have any power and any right to dicide something.
    p
      | So, I applied for U.N to be a soldier because I wanted to use sth as an escape from reality. Also, I wanted to escape from my family.
      | Therefore, I have worked as a U.N solider for 4 years in Lebanon. In Lebanon, my mission was to protect their country and to maintain peace. My specific job was E.O.D.(explosive ordnance disposal)
      | So, I trained how to remove bomb, how to make bomb, and how to set bomb to kill enemy.
      | However, It was so dangerous. So, I stopped being soldier, and started to travel in the world. When I travelled to a lot of country. I learned many things. 
      | one of those is I need to learn English more deeply, and I need to find what I want to do. That is why I came to Canada, and now I am taking computer Programming.
    h2 Computer Language
    p
      | Until now, I have learned many kind of computer languages.
      | So, I will list computer langauges that I learnd:
      li Java
      li Python
      li JavaScript(Node.js, MongoDB, AngularJs, React.js)
      li HTML, CSS, PHP
      li C#
      li C++
      li Unity
      li Machine Learning
      li Artificial Intelligence
      li Block Chain
include partials/footer.pug
