//FileName: contact.pug
//Author's Name: Daehan Hong
//Website Name: Portfolio
//File description: to put information for contact form and to allow visitors how to contact me.
include partials/header.pug

#container
  h1
    | #{title}
  section#textbox
    p
     i.fa.fa-phone-square.fa-1x : 705-970-7312
    p
     i.fa.fa-envelope-square.fa-1x : 200307118@student.georgianc.on.ca
    p
     a(href='https://www.facebook.com/daehan.hong.1', target='_blank')
       i.fa.fa-facebook-square.fa-1x : Facebook Account
    p
     a(href='https://twitter.com/DaehanHong', target='_blank')
       i.fa.fa-twitter-square.fa-1x : Twitter Account
  h2
    | Direct Contact Form
  div.container
    form(method='post' action='/contact')
      div
        label Name: &nbsp; &nbsp; &nbsp;
        input(type='text' id='name' name='name' required placeholder='Name')
      div
        label ContactNo: &nbsp; &nbsp; &nbsp;
        input(type='text' id='contactNo' name='contactNo' require placeholder='ContactNo')
      div
        label Email: &nbsp; &nbsp; &nbsp;
        input(type='text' id='email' name='email' require placeholder='Email')
      div
        label Message: &nbsp;
        input(type='text' id='message' name='message' require placeholder='Message')
      input(type='submit' value='Send' id='submit')
include partials/footer.pug
