//FileName: error.pug
//Author's Name: Daehan Hong
//Website Name: Portfolio
//File description: Actually, I don't use this error.pug, so you don't need to see this one. Thanks a lot :)
extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}