//FileName: index.pug
//Author's Name: Daehan Hong
//Website Name: Portfolio
//File description: to welcome for visitors. So, I put some greeting message.
include partials/header.pug
#container
  h1 Welcome to my Portfolio Website
  section#textbox
    p
      | Hello, my name is Daehan Hong from South Korea! I just want to introduce myself. 
      | If you are wordering about me, please keep reading. Now, I live in Barrie where is in north of Toronto. 
      | Also, I am taking Computer Programming at Georgian College. Finally, it is my last semester. 
      | The reason why I created this website is that it is Part 1 for Assignment 1. So, I did my best to create my Portfolio website. 
      | Thank you so much for reading my long introduce. Once Again! Welcome to my personal website!

include partials/footer.pug
