//FileName: layout.pug
//Author's Name: Daehan Hong
//Website Name: Portfolio
//File description: I created header.pug and footer.pug, so it means that I don't use this layout.pug.
doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
  body
    block content