include partials/header.pug
#container
  h1 #{title}
  section#textbox
    p 
      | HTML, CSS, JavaScript Project:
      li Developed my website using HTMLS, CSS and JavaScript for final project
    p 
      | ASP.NET Project:
      li Developed music store website using ASP.NET for final project
    p 
      | Arduino Project:
      li Created a lamp, using Arduino, that showed weather such as lightening, raining, and snowing based on actual weather conditions
    p 
      | JavaScript framework:
      li Created my personal Portfolio website using Node.js, and Express.js
include partials/footer.pug
