//FileName: services.pug
//Author's Name: Daehan Hong
//Website Name: Portfolio
//File description: to tell visitors how I can help them if they need my help
include partials/header.pug
#container
  h1 #{title}
  section#textbox
    p 
      | Now I am at Georgian College. 
      | If you want to ask me some question about JavaScript, Java, Python, or C++, I can help you. 
      | I like to do troubleshoot in programming that has trouble or problem. 
      | So, please don't hesitate asking question to me.
      | If you want to contact with me, please go to Contact page! 
include partials/footer.pug
